@font-face {
  font-family: 'NotoSansKR';
  src: url('../fonts/NotoSansKR-Light.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'NotoSansKR';
  src: url('../fonts/NotoSansKR-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'NotoSansKR';
  src: url('../fonts/NotoSansKR-Medium.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'NotoSansKR';
  src: url('../fonts/NotoSansKR-Bold.otf') format('opentype');
  font-weight: 700;
}
