#quill-viewer {
  font-family: NotoSansCJK;
  .ql-toolbar {
    display: none;
  }
  .ql-container {
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
  }
}
